/*记录项*/
.item{
    background-color: azure;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    margin: 16px 0;
    padding: 6px;
    flex: auto;
}


.content{
    background-color: cadetblue;
    flex: auto;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.desc{
    font-size: 16px;
    color: blue;
}

.time{
    color: antiquewhite;
}

.delete {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    transition: 0.3s /* 旋转的过度效果*/;
}

.delete:hover{
    color: red;
   /* transform: rotate(1turn);*//* 旋转一圈*/
}