.date{
    width: 90px;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;


}
.month{
    height: 30px;
    line-height: 30px;
    background-color: red;
}

.day{
    line-height: 60px;
    font-size: 50px;
    text-align: center;
}