.confirmModal {
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 200px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
}

.confirmText {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.confirmBtn {
    flex: auto;
    display: flex;
    justify-content: flex-end;
}

.confirmBtn button {
    width: 80px;
    margin: 0 5px;
    border: none;
    background-color: #ccdddd;
    font-weight: bold;
}

/* 优先级*/
.confirmBtn .okBtn{
    background-color: red;
}